.offcanvas-backdrop {
    background-color: #00000000;
}

.offcanvas {
    background: #ffffff;
    box-shadow: 0 4px 18px rgba(75, 70, 92, 0.1);
}

.delete-btn {
    background-color: #00000000;
    border: 0;
    padding-right: 0;
}
